page-login {
    .first-section {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .second-section {
        height: 60vh;
    }
    @media only screen and (max-height: 480px) {
        .first-section {
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .second-section {
            height: 70vh;
        }
    }
    form {
        display: flex;
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;
        ion-list {
            width: 100%;
        }
    }
    button {
        background: #D71E2F !important;
    }
}
