page-set-emergency {
    .time-font {
        color: #D71E2F;
        font-size: 2.5em;
    }
    .label-font{
        font-size: 0.8em;
        padding: 0;
        margin: 0;
//        background: #D71E2F;
        color: #fff;

    }
    .label-background{
        height: 25px;
        background: #D71E2F;
    }
    .cancel-button{
        background: #4E4E4E;
    }

}
